h1{
    color: red;
}

p{
    color: blue;
}

#p1{
    color: green;
}

.p2{
    color:yellow;
}

label, input{
    display: block;
}

.formBtn{
    margin-top:15px;
}

.input1{
    margin-left: 50px;
}

.input1 input{
    margin-left:50px;
}

h2{
    color:pink;
}